

.slika-naruci {
    height: 500px;
    width: 100;
}

.display-inline{
    display: inline-block;
}

.naruci-se-gumb-form{
    font-size: 30px;
    background-color:#004AAD;
}

.form-padding {
    padding-right: 200px;
}
