{% extends "zdravstveni_sustav_app/base.html" %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'zdravstveni_sustav_app/main.css' %}">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const appointmentDateInput = document.getElementById('appointmentDate');
      const appointmentForm = document.getElementById('appointmentForm');
      
      // Get the current date in the format "YYYY-MM-DD"
      // new Date() stvara novi objekt tipa Date
      // toISOString pretvara datum u string u formatu YYYY-MM-DD
      // split() funkcija razdvaja taj datum od vremena na osnovi znaka T
      // tako da imamo onda dvije komponente: prva sa datumom, druga sa vremenom
      // pristupamo prvoj komponenti sa [0]
      const currentDate = new Date().toISOString().split('T')[0];
  
      // Set the min attribute of the date input to the current date
      appointmentDateInput.min = currentDate;
  
      // Add a submit event listener to the form for additional validation
      appointmentForm.addEventListener('submit', function (event) {
        const selectedDate = appointmentDateInput.value;
  
        if (selectedDate < currentDate) {
          event.preventDefault(); // Prevent form submission if the date is in the past
          alert('Datum pregleda ne smije biti u prošlosti!');
        }
      });
    });


  </script>
</head>
<!--Main Content Start-->
  

    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          {% for msg in messages %}
            
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ msg }}</strong>
              </div>
              
          {% endfor  %}

          <form action="{% url 'narudzba' %}" method="post" id="appointmentForm">
            {% csrf_token %}

              
              <label for="ime_pacijenta">Ime:</label>
              <input class="form-control display-inline" placeholder="Ime pacijenta" type="text" name="ime_pacijenta">  

              <label class="mt-3" for="prezime_pacijenta">Prezime:</label>
              <input class="form-control display-inline" type="text" name="prezime_pacijenta" placeholder="Prezime pacijenta">

              <label class="mt-3" for="telefon_pacijenta">Broj mobitela:</label>
              <input class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3,4}" placeholder="091-134-411(1)" type="tel" name="telefon_pacijenta">

              <label class="mt-3" for="email_pacijenta">Vaš email:</label>
              <input class="form-control" placeholder="Email" type="email" name="email_pacijenta">

              <label class="mt-3" for="doktor">Odaberite doktora:</label>
              <select class="form-control" name="doktor" style="height: 35px;">
                <option disabled>--Doktor--</option>
                {% for doktor in doktori %}
                  <option value="{{ doktor.id }}">{{ doktor.first_name }} {{doktor.last_name}}</option>
                {% endfor %}
              </select>

              <label class="mt-3" for="datum_pregleda">Datum pregleda:</label>
              <input name="datum_pregleda" class="form-control" type="date" id="appointmentDate">

              <label class="mt-3" for="vrijeme_pregleda">Vrijeme pregleda:</label>
              <select class="form-control" name="vrijeme_pregleda">
                <option disabled>--Vrijeme pregleda--</option>
                <option value="jutro">Jutro</option>
                <option value="večer">Večer</option>
              </select>
            
              <label class="mt-3" for="simptomi">Simptomi:</label>
              <textarea class="mb-4 form-simptomi " placeholder="Kašalj, glava me boli..." name="simptomi"></textarea>
              

              <input value="Naruči se" type="submit" class="btn btn-primary naruci-se-gumb-form">

          </form>
        </div>
          
        <div class="col-md-6 rounded mt-3 col-sm-12 ">
            <img src="{% static 'zdravstveni_sustav_app/images/nar.jpg' %}" alt="" class="rounded slika-naruci">
        </div>

      </div>
    </div>


    

<!--Main Content End-->
{% endblock content %}