

.slika {
    height: 800px;
    width: auto;
}

.display-inline{
    display: inline-block;
}

.naruci-se-gumb-form{
    font-size: 30px;
    background-color:#004AAD;
}

.form-padding {
    padding-right: 200px;
}

@media (max-width: 576px) {
    .slika{
        height: 100px !important;
        width: auto !important;
    }

}